# Modules.
/node_modules/

# Compiled files.
/out/

# Configuration.
config.json
config.production.json

# Notes
/notes/*

# Profiling
*.cpuprofile
*.tsbuildinfo

# Others
.idea/*
.vscode/*

# Data files.
cape.tsv
SP22.tsv
courses.tsv
quote.json
dad.json